assets/model_state_dict.bin
.env
resources/*
sentiment_analyzer/__pycache__/
sentiment_analyzer/classifier/__pycache__/
.idea/
sentiment_analyzer/__pycache__/*
sentiment_analyzer/classifier/__pycache__/*
training/tag2idx.json
training/tag_values.txt
sentiment_analyzer/entity_recognition/__pycache__/
